.course-card{
    display: inline-block;
    margin: 1%;
    height: 50vh;
    width: 45vh;
    box-shadow: 0px 8px 15px 1px #00000081;
    border-radius: 5%;
}

@media (max-width: 625px) {
    .course-card{
        margin: 5%;
    }
  }

.course-card:hover{
    background-color: #e0e0e081;
    cursor: pointer;
}
.inner-card-image{
    width: 80% !important;
    padding-top: 5%;
    padding-bottom: 5%;
    align-self: auto;
    margin: auto;
    display: block;
}
.full-width{
    width: 100% !important;
}