.container {
    width: 100%;
    height: 100%;
    display: flex;
}

.main {
    height: 100%;
    width: calc(100% - 350px);
    padding-bottom: 100px;
    overflow-y: auto;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lessons {
    height: 100%;
    width: 350px;
    background-color: rgb(245, 245, 245);
    overflow-y: auto;
}

.lessonsHeader {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    font-weight: bold;
}

.lessonsMain {
    width: 100%;
    height: calc(100% - 50px);
    overflow-y: auto;
}

.content {
    margin: 15px 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(192, 192, 192);
}

.title {
    font-size: 2rem;
}

.description {
    font-size: 1.3rem;
}

.desDate {
    margin: 0;
    margin-top: 5px;
}

.video {
    width: 100%;
    height: 70vh;
}

@media (max-width: 1000px) {
    .main {
        width: 100%;
    }
    .lessons {
        width: 0;
    }
    .row {
        flex-direction: column;
    }
    .row div {
        margin-top: 15px;
    }
}