.beca-card {
  display: inline-block;
  margin: 1%;
  margin-top: 50px;
  width: 100%;
  box-shadow: 0px 8px 15px 1px #00000081;
  border-radius: 10px;
}

.beca-card:hover {
  background-color: #e0e0e081;
  cursor: pointer;
}

.img-fluid.size-img {
  height: 100px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.container .beca-card h2 {
  margin-top: 30px;
  font-size: 48px;
}

.container .beca-card p {
  margin: 20px;
  font-size: 20px;
}

.container .beca-card h4 {
  margin-top: 20px;
}
