.container .search-bar-style {
  width: 600px;
}
.bg-black{
  background-color: black !important;
}
.logo-image{
  max-height: 10vh;
}
.input-style {
  border-radius: 5px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 500px;
}

.button-style-search {
  height: 40px;
  border-radius: 5px;
  margin-right: 40px;
}
